<footer class="footer">
    <section class="footer-content">
        <h1 class="title">armelle richard–hue</h1>
        <p class="description">architecte dplg</p>

        <p class="address">7, rue de la Santé 75013 Paris</p>
        <p class="e-mail">armellerichard[@]free.fr</p>
        <p>
            <a href="#top" class="go-to-top">remonter</a>
        </p>
    </section>
</footer>