<footer class="footer">
    <section class="footer-content">
        <h1 class="title">armelle richard–hue</h1>
        <p class="description">architecte dplg</p>

        <p class="address">7, rue de la Santé 75013 Paris</p>
        <p class="e-mail">armellerichard[@]free.fr</p>

        {% if noGoToBack is not defined %}
        <p class="go-to-top">
            <a href="#top">remonter</a>
        </p>
        {% endif %}
    </section>
</footer>