{% set route_name = app.request.attributes.get('_route') %}

<header class="main-header">
  <a href="{{ path('index') }}">
    <section class="texts-container">
      <figure>
        <img src="{{ asset('ressources/images/logo-bw.png') }}"
          alt="Logo Armelle Richard Architecte dplg" />
      </figure>
      <article class="texts">
        <h1 class="title">
          armelle richard–hue
        </h1>
        <p class="description">
          architecte dplg
        </p>
      </article>
    </section>
  </a>
  <nav class="navigation-container">
    <ul class="navigation-content">
      <li class="navigation-item">
        <a href="{{ path('index') }}" 
             {% if route_name == "index" or route_name == "project" %} class="active" aria-current="page" {% endif %}>
          projets
        </a>
      </li>
      <li class="navigation-item">
      <a href="{{ path('a_propos') }}" 
             {% if route_name == "a_propos" %} class="active" aria-current="page" {% endif %}>
        à propos</a>
      </li>
    </ul>
  </nav>
</header>
