<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        MISSING
      {% endblock %}— Armelle Richard-Hue Architecte DPLG
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="{{ absolute_url('/favicon.ico') }}" />
    <link rel="stylesheet"
      href="{{ absolute_url('ressources/css/reset.css') }}" />
    <link rel="stylesheet"
      href="{{ absolute_url('ressources/css/global.css') }}" />

    {% block css_page %}{% endblock %}
  </head>

  <body>
    {% include 'front/includes/header.html.twig' %}
    <main>
      {% block main %}

      {% endblock %}
    </main>
    {% include 'front/includes/footer.html.twig' %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
