<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        MISSING
      {% endblock %}
    </title>

    {% block head %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"
      rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />
    <link rel="stylesheet"
      href="{{ asset('ressources/css/reset.css') }}" />
    <link rel="stylesheet"
      href="{{ asset('ressources/css/global.min.css') }}" />

    {% block css_page %}{% endblock %}
  </head>

  <body>
    {% if app.user %}
      <section class="connecte">Hello</section>
{% endif %}
    {% include 'front/includes/header.html.twig' %}
    {% block blur_bg %}{% endblock %}
    <main>
      {% block main %}

      {% endblock %}
    </main>
    {% include 'front/includes/footer.html.twig' %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
