{% extends 'front/base.html.twig' %} {% block title %} Projets {% endblock %} {%
block css_page %}
<link
  rel="stylesheet"
  href="{{ absolute_url('ressources/css/list-projects.css') }}"
/>
{% endblock %} {% block main %}
<ul class="list-projects">
  {% for project in list_projects %}
  <li class="project-container">
    <article class="project">
      <a href="project.php/{{ project.id }}" title="Voir projet {{ project.name }}">
        <figure>
          <!-- <img src="ressources/" alt="" loading="lazy" /> -->
          <article class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"
              />
            </svg>
          </article>
        </figure>
        <p class="title">
          {{ project.name }}
        </p>
      </a>
    </article>
  </li>
  {% endfor %}
</ul>
{% endblock %} {% block javascripts %}
<script src="ressources/js/pagination.js"></script>
{% endblock %}
