@import "mq.scss";

.list-projects {
    .project-container {
        position: relative;
        &:nth-child(odd) .project {
            flex-direction: row-reverse;
            .title {
                right: calc(100% + 15px);
                left: auto;
                text-align: right;
            }
        }

        &:first-child {
            &::after {
                content: "";
                display: block;
                height: 50%;
                right: 0;
                bottom: 0;
                background-image: url("../images/pattern.jpg");
                background-size: contain;
                left: 0;
                z-index: -1;
                opacity: 0.65;
                position: absolute;
            }
        }
    }

    .project {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        padding: 0 2.5%;
        max-width: 1260px;
        margin: 0 auto;

        @include mobile {
            padding: 0 5%;
        }

        a {
            width: 38%;
        }

        // .title {
        //     position: absolute;
        //     bottom: 21px;
        //     left: calc(100% + 15px);
        //     padding: 0;
        //     width: 200px;
        //     margin-bottom: 0;
        // }
    }
}
