{% extends 'front/base.html.twig' %}
{% set noGoToBack = true %}
{% block title %}
	Erreur 404 — Armelle
	Richard-Hue Architecte DPLG
{% endblock %}

{% block css_page %}
	<link rel="stylesheet" href="{{ asset('ressources/css/project.min.css') }}"/>
{% endblock %}

{% block main %}
	<section class="main-container">
		<h1 class="title-project">
			Erreur 404 — Page non trouvée
		</h1>
        <p class="project-not-found">
			<a href="{{ path('index') }}">Retourner à la page d'accueil</a>
		</p>
	</section>
{% endblock %}
